CALL INIT_WINDOW(800,600,"IM STILL JOBLESS")


TYPE Color
	DECLARE R : INTEGER
	DECLARE G : INTEGER
	DECLARE B : INTEGER
	DECLARE A : INTEGER
ENDTYPE


DECLARE red : Color
red.R<-100
red.A<-255



WHILE NOT WINDOW_SHOULD_CLOSE() DO
CALL BEGIN_DRAWING()

CALL DRAW_TEXT("GYAAAAT",0,20,100,red)

CALL END_DRAWING()
ENDWHILE
